body {
    background-color: tomato;
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    border: 1px solid greenyellow;
    padding: 20px;
}

p {
    color: whitesmoke;
    font-family: courier;
    font-size: 160%;
    border: 1px solid powderblue;
    padding: 10px;
    margin: 50px;
}